services:
  site:
    image: docker.io/library/ruby:3.4.7-trixie
    command: bash -c "bundle install && bundle exec jekyll serve --trace --verbose --livereload --host 0.0.0.0 --force_polling"
    working_dir: /srv/jekyll
    ports:
      - "4000:4000"
      - "35729:35729"
    volumes:
      - ./:/srv/jekyll:delegated
    environment:
      BUNDLE_PATH: /tmp/bundle
      JEKYLL_ENV: development
