@mixin card-base {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  border: 1px solid var(--border-color);
  border-radius: var(--radius-lg);

  transition: transform var(--transition), border var(--transition), box-shadow var(--transition);
}
